<a href="https://colab.research.google.com/github/snr131/git_practice/blob/master/basic01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice creating variables

In [1]:
first_name = 'Sarah'
firstName = "Sarah"
FirstName = 'Sarah'
FIRSTNAME = 'Sarah'

In [2]:
print(first_name)

Sarah

In [6]:
last_name = "May"
lastName = "Rehman"
LastName = "Smith"

In [8]:
import math
print(math.pi)

3.141592653589793

10 lists

In [ ]:
red_fruit = ["apple", "strawberry", "cherry"]
green_vegetables = ["green pepper", "celery"]
farm_animals = ['pigs', 'cows', 'chickens']
shapes = ['triangle', 'circle', 'rectangle']
colors = ['red', 'orange', 'yellow', 'green']
states = ['Texas', 'New York']
trees = ['maple', 'oak']
even_ints = [2, 4, 6, 8]
odd_ints = [3, 5, 7]
months = ['January', 'February']

10 bools

In [11]:
not_true = not True
true = True
false = False
not_false = not False
not_true2 = 2 + 5 == 11
true2 = 2 * 5 == 10
true3 = True or False
true4 = True and True
false2 = True and False

True

10 floats