<a href="https://colab.research.google.com/github/snr131/git_practice/blob/master/day5practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
family_members = ['Sarah', 'Scott', 'Kaia', 'Finley', 'Gulzar', 'Diane', 'Jill', 'David', 'Noah', 'Ari', 'Alyssa', 'Louis', 'Zoe', 'Habiba', 'Jalal', 'Aziz', 'Noorallah', 'Nazlin', 'Shazia', 'Tahseen']

In [65]:
print(family_members[0:2])
print(family_members[:2])
print(family_members[0:-2])
print(family_members[5:])
print(family_members[5:7])
print(family_members[0:2])
print(family_members[0:10:2])
print(family_members[0:10:4])
print(family_members[:10:4])
print(family_members[1:9:2])

['Sarah', 'Scott']
['Sarah', 'Scott']
['Sarah', 'Scott', 'Kaia', 'Finley', 'Gulzar', 'Diane', 'Jill', 'David', 'Noah', 'Ari', 'Alyssa', 'Louis', 'Zoe', 'Habiba', 'Jalal', 'Aziz', 'Noorallah', 'Nazlin']
['Diane', 'Jill', 'David', 'Noah', 'Ari', 'Alyssa', 'Louis', 'Zoe', 'Habiba', 'Jalal', 'Aziz', 'Noorallah', 'Nazlin', 'Shazia', 'Tahseen']
['Diane', 'Jill']
['Sarah', 'Scott']
['Sarah', 'Kaia', 'Gulzar', 'Jill', 'Noah']
['Sarah', 'Gulzar', 'Noah']
['Sarah', 'Gulzar', 'Noah']
['Scott', 'Finley', 'Diane', 'David']

In [8]:
for member in family_members:
  print("Happy New Year, %s!" % (member))

Happy New Year, Sarah!
Happy New Year, Scott!
Happy New Year, Kaia!
Happy New Year, Finley!
Happy New Year, Gulzar!
Happy New Year, Diane!
Happy New Year, Jill!
Happy New Year, David!
Happy New Year, Noah!
Happy New Year, Ari!
Happy New Year, Alyssa!
Happy New Year, Louis!
Happy New Year, Zoe!
Happy New Year, Habiba!
Happy New Year, Jalal!
Happy New Year, Aziz!
Happy New Year, Noorallah!
Happy New Year, Nazlin!
Happy New Year, Shazia!
Happy New Year, Tahseen!

In [9]:
for num in range(1, 10):
  print(num)

1
2
3
4
5
6
7
8
9

In [24]:
odd_or_even = input("Enter a number: ")
if int(odd_or_even) % 2 == 0:
  print("This is an even number")
else:
  print("This is an odd number")

Enter a number: 3
This is an odd number

In [31]:
nums_1_to_20 = [*range(1, 26)]
print(nums_1_to_20)
for num in nums_1_to_20:
  if num % 2 != 0:
    print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1
3
5
7
9
11
13
15
17
19
21
23
25

In [40]:
for num in nums_1_to_20:
  if num / 3 < 1 or num / 5 < 1:
    print(num)

1
2
3
4

In [47]:
n=int(input('enter a number greater than 1. '))
Match=True

for num in range (2,n):
    n%num
    if n%num==0:
        Match=False
        
if Match:
    print('num is prime.')

else:
    print('nume is not prime.')

enter a number greater than 1. 77
nume is not prime.

In [52]:
n = int(input('Enter a number greater than 1: '))
Match = True

for num in range(2, n):
  if n%num == 0:
    Match=False

if Match:
  print('Your selected number is prime.')
else:
  print('Your selected number is not prime.')

Enter a number greater than 1: 5
Your selected number is prime.

In [46]:
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [48]:
for num in range(2, 101):
  # for each number in the range between 2 and 100
    if all(num%i!=0 for i in range(2, num)):
      # if everything within the parenthesis is True, print the number selected within that range of 2 to 100; within the parenthesis, the selected number modulo not equal to 0, meaning there is a remainder, i being a number in the range 2 through the originally selected number
       print (num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97